{% extends 'base.html' %}

{% block title %}
Categorias
{% endblock title %}

{% block content %}
<h2>Categorias de Álbuns</h2>

<section>
    {% for category in category_category %}
    <hr>
    <article>
        <header>
            <h3>{{category.name}} (de {{ category.author }}) </h3>
        </header>
        <div class="lista-de-cards">
            {% for album in list.albuns.all %}
            <div class="card">
                <a href="{% url 'albuns:detail' album.id %}">
                    <img src="{{ album.poster_url }}" alt="Poster do Álbum {{ album.name}}">
                </a>
                <p>{{ album.name }} ({{ album.release_year }})</p>
            </div>
            {% endfor %}
        </div>
    </article>
    {% endfor %}

    <a href="{% url 'albuns:create-list' %}"><button>Crie sua Lista</button></a>
</section>

{% endblock content %}