{% extends 'base.html' %} {% block title %} {{ album.name }} ({{
    album.release_year }} {% endblock title %} {% block content %}
    <h2>Detalhes do Filme {{ album.name }} ({{ album.release_year }})</h2>
    
    <section class="dados-de-filme">
      <img src="{{ album.poster_url }}" alt="Poster do filme {{ album.name}}" />
      <ul>
        <li>Nome: {{ album.name }}</li>
        <li>Ano de Lançamento: {{ album.release_year }}</li>
      </ul>
    </section>
    
    {% endblock content %}