{% extends 'base.html' %} {% block title %} {{ album.title }} ({{
    album.release_year }} {% endblock title %} {% block content %}
    <h2>Detalhes do Álbum {{ album.title }} ({{ album.release_year }})</h2>
    
    <section class="dados-de-filme"> <!--deixar como dados de filme para usar css-->
      <img src="{{ album.poster_url }}" alt="Poster do Álbum {{ album.title}}" />
      <ul>
        <li>Título: {{ album.title }}</li>
        <li>Ano de Lançamento: {{ album.release_year }}</li>
        <li>Artista: {{ album.band }}</li>
        <li>Descrição: {{ album.content }}</li>
        
        <hr>
        <li><a href="{% url 'albuns:update' album.id %}">Editar</a></li>
    <li><a href="{% url 'albuns:delete' album.id %}">Apagar</a></li>
        <hr>
        <li>Data de postagem: {{ album.post_date }}</li>
        
      </ul>
    </section>

    <section> 
    {% if album.category_set.all %}
        <li><strong>Incluso nas categorias:</strong> {{ album.category_set.all|join:", " }} </li>
    {% endif %}
        


    </section>

    <section>
      <header>
          <h3>Comentários</h3>
      </header>
      <ul>
          {% if album.comment_set.all %}
              {% for comment in album.comment_set.all %}
                  <figure>
                      <blockquote>
                          "{{ comment.text }}"
                      </blockquote>
                      <figcaption>—{{ comment.author }}</figcaption>
                  </figure>
              {% endfor %}
          {% else %}
              <p>Ainda não existe nenhuma comentário para este álbum.</p>
          {% endif %}
      </ul>
      <hr>
      <a href="{% url 'albuns:comment' album.pk %}"><button>Crie sua Resenha</button></a>
  
  </section>
    
    {% endblock content %}