{% extends 'base.html' %} {% block title %} {{ album.name }} ({{
    album.release_year }} {% endblock title %} {% block content %}
    <h2>Detalhes do Filme {{ album.name }} ({{ album.release_year }})</h2>
    
    <section class="dados-de-filme">
      <img src="{{ album.poster_url }}" alt="Poster do filme {{ album.name}}" />
      <ul>
        <li>Título: {{ album.title }}</li>
        <li>Ano de Lançamento: {{ album.release_year }}</li>
        <li>Artista: {{ album.band }}</li>
        <li>Descrição: {{ album.content }}</li>
        <hr>
        <li>Data de postagem: {{ album.post_date }}</li>
        
      </ul>
    </section>
    
    {% endblock content %}