{% extends 'base.html' %} {% block content %}
<h2>Todos os Álbuns</h2>

<section>
    <p>
      Muitos resultados? <a href="{% url 'albuns:search' %}">Buscar Álbuns</a>
    </p>
    <p>
      Não encontrou o Álbum?
      <a href="{% url 'albuns:create' %}">Adicionar Novo Álbum</a>
    </p>
  </section>

{% if album_list %}
<section class="lista-de-cards">
  {% for album in album_list %}
  <article class="card">
    <a href="{% url 'albuns:detail' album.id %}">
      ><img src="{{ album.poster_url }}" alt="Poster do Álbum {{ album.name}}"
    /></a>
    <p>{{ album.name }} ({{ album.release_year }})</p>
  </article>
  {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum Álbum.</p>
{% endif %} {% endblock content %}
