{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<h2>Sobre este site</h2>


Bem-vindo ao Escute essa música!, o seu destino definitivo para explorar e celebrar a vasta paisagem musical através das décadas. Aqui, mergulhamos nas nuances e encantos dos álbuns que moldaram gerações, criaram movimentos culturais e deixaram uma marca indelével na história da música. Seja você um ávido melômano ou alguém que está apenas começando a explorar os acordes da vida, nosso site é o seu guia confiável para descobrir, compartilhar e apreciar o universo infinito da música.
<hr>
Aqui acreditamos que a música é mais do que uma simples combinação de notas; é uma jornada emocional, uma narrativa que transcende o tempo. Nossa comunidade é alimentada pela paixão compartilhada por álbuns que nos fazem vibrar, refletir, dançar e, acima de tudo, sentir. Aqui, cada página é uma homenagem a essas obras-primas sonoras que resistiram ao teste do tempo e continuam a inspirar gerações.
<hr>
Explore as resenhas de álbuns escritas por nossa comunidade diversificada de entusiastas musicais, descubra novas pérolas escondidas e reviva clássicos que definiram momentos inesquecíveis em suas vidas. Este é mais do que um site; é um santuário para todos aqueles que encontram significado, consolo e alegria na linguagem universal da música.
<hr>
Prepare-se para uma viagem única, onde cada página é uma porta de entrada para o extraordinário mundo dos álbuns atemporais. Embarque conosco nesta jornada musical, onde a melodia se encontra com a memória, e cada resenha é uma celebração do eterno poder da música. Este é o seu convite para se perder nas batidas, harmonias e letras que moldaram eras - bem-vindo ao Escute essa música.
{% endblock content %}